# Ignore node_modules (dependencies are installed inside Docker)
node_modules
npm-debug.log
yarn-error.log

# Ignore build outputs
.next
out

# Ignore environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Ignore logs
logs
*.log

# Ignore temporary files and OS-specific files
*.swp
*.DS_Store
Thumbs.db

# Ignore version control folders
.git
.gitignore

# Ignore Docker-specific files
Dockerfile
.dockerignore
